# Build output
bin/
obj/

# User settings
.vs/
*.user
*.suo

# System folders
AppData/
Application Data/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
Favorites/
Saved Games/
Contacts/
Links/
NTUSER.*

# IDEs
.vscode/
.idea/

# Others
*.log
*.tmp
*.bak
